{% extends "base.html" %}

{% block title %}<title>MKch - Пасскод</title>{% endblock %}

{% block body %}
        <div class="container">
        <div class="info-header">
                <h2>Пасскод - всё, что нужно знать</h4>
        </div>
    <div class="info-container">
        <h3>Что это такое?</h3>
        <h4>Пасскод - необязательная услуга, которая отключает Captcha при написании треда/коммента. Он не является обязательным, всё что делает пасскод - экономит +- 3 секнды вашего времени. Он создавался скорее как способ поддержать автора сайта и оплатить хостинг.</h4>
	<h3>Прайс</h3>
	<h4><h4 class="warning">Стоимость одного пасскода - 60 гривен.</h4> Все вырученные средства идут на продление VDS и домена.</h4>
        <h3>Как его получить?</h3>
	<h4>По поводу покупки писать в личные сообщения @botaner_1987 (tg) После получения пасскода, введите его <a href="/passcode/enter">здесь</a>, и вы получаете беспрепятственный доступ к постингу. Если вы ввели пасскод и по каким-то причинам хотите его "забыть" - кликните <a href="/passcode/reset">сюда</a>.</h4>
        <h3>Что нельзя делать?</h3>
        <h4> - Передавать пасскод другим людям (использовать с других устройств можно)</h4>
        <h4> - Использовать пасскод для нарушения правил, особенно флуда!</h4>
        <h4>Мы имеем полное право сбросить ваш пасскод при нарушении правил, даже если его покупали. Возврат денег не предусмотрен.</h4>
    </div>
    </div>
{% endblock %}
