{% extends "base.html" %}

{% block title %}<title>schchan - {{board.code}}</title>{% endblock %}

{% block body %}
	<div class="container">
		<form class="search-form">
			<input id="search" name="title" placeholder="Поиск..." type="text"></input>
			<input type="submit" value="Искать" />
		</form>
		<div class="board-container">
			{% if board.banner %}
				<div class="board-banner">
					<img src="{{board.banner.url}}" class="banner-image"></img>
				</div>
			{% endif %}

			{% if board.detail_description %}
				<h3 class="description">{{board.detail_description}}</h3>
			{% endif %}

		<div class="new-thread-button">
			{% if user.is_staff or not board.lockdown and board.enable_posting %}
				<a href="/boards/board/{{board.code}}/new">> начать тред <</a>
			{% endif %}
		</div>

		<div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
					<a href="?page=1">&laquo; В начало</a>
					<a href="?page={{ page_obj.previous_page_number }}">Назад</a>
				{% endif %}

				<span class="current">
					Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
				</span>

				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">Далее</a>
					<a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>
				{% endif %}
			</span>
		</div>
			<div id="thread-list">
				{% for thread in thread_list %}
					<div class="thread-container">
						<div class="thread-item">
							<div class="thread-file" onclick="window.location.href='/boards/board/{{board.code}}/thread/{{thread.id}}'">
							{% for file in thread.threadfile_set.all %}
									{% if file.fclass == "photo" %}
										<a href="{{file.file.url}}"><img src="{{file.file.url}}" id={{file.file.url}} class="thread-image"></img></a>
									{% elif file.fclass == "video" %}
										<video controls="" src="{{file.file.url}}"></video>
									{% else %}
										<a href="{{file.file.url}}">{{file.file.name}}</a>
									{% endif %}
							{% endfor %}
							</div>

							<div class="thread-header">
								<div onclick="window.location.href='/boards/board/{{board.code}}/thread/{{thread.id}}'"><h1>{{thread.title}}</h1> <h2>{{thread.comment_set.count}} СМС, {{thread.rating}}PP {{thread.creation | date}}</h2></div>
								{% if user.is_staff %}
									{% load static %}
									<img class="small-icon" src="{% if thread.pinned %}{% static 'media/unpin.png' %}{% else %}{% static 'media/pin.png' %}{% endif %}" onclick="pin({{thread.id}})"></img>
								{% endif %}
							</div>

							<div class="thread-description" onclick="window.location.href='/boards/board/{{board.code}}/thread/{{thread.id}}'">
								<h2>{{thread.text}}</h2>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>

	<script>
		async function pin(id) {
		await fetch("/boards/pin", {
			method: "POST",
			credentials: "include",
			headers: {'X-CSRFToken': Cookies.get("csrftoken")},
			body: JSON.stringify({
			id: id,
			next: window.location.href
			})
		});
		window.location.reload();
		}
	</script>
{% endblock %}
